/* For centering home page elements in a column */
.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* For centering home page elements in a row */
.centered-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Coordinate text fields on the home page */
.coordinate-field {
    border-radius: 2px;
    border: 1px solid darkgrey;
    margin-top: 4px;
    height: 30px;
    width: 240px;
    text-indent: 4px;
    font-size: 14px;
    color: #606060;
    text-decoration: none;
    text-align: center;
}

/* Hovering coordinate text fields on the home page */
.coordinate-field:hover {
    border: 1px solid #606060
}

/* Placeholder text inside coordinate fields */
::placeholder {
    color: #606060;
    font-weight: normal;
    text-indent: 4px;
    font-size: 14px;
    text-align: center;
}

/* Submit button for coordinates and current date on the home page */
.submit-data-button {
    border-radius: 2px;
    border: 1px solid #e11937;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #e11937;
    font-size: 14px;
    width: 242px;
    margin-top: 4px;
    height: 30px;
}

/* Hovering the submit button */
.submit-data-button:hover {
    border: 1px solid #606060;
    color: white;
}

/* Subheadings on home page */
h3 {
    color: #606060;
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 14px;
    text-align: center;
}

/* Regular paragraphs on home page */
p {
    font-size: 15px;
    color: #606060;
    text-decoration: none;
    text-align: center;
}


/* All date pickers */
.date-picker {
    height: 30px;
    margin-top: 10px;
    color: #606060;
    width: 120px;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid darkgrey;
    margin-left: -1px;
    margin-right: -1px;
}

/* Hovering any date pickers */
.date-picker:hover {
    border: 1px solid #606060;
}

/* Date picker for current date */
#current-date-picker {
    width: 240px;
}
